*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(37, 37, 37);
}

main {
    color:aliceblue;
    
}

.imagemMusica {
    background-image: url("./slideshow/stunning-black-and-white-20.jpg"); /*imagem padrao caso o script nao carregue*/

    min-height: 380px;
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Needed to position the navbar */
    position: relative;
}



.container {
    position:absolute;
    right: 0%; /* isso nao faz sentido, por que o float nao funciona? e pq eu tenho que usar o right? e pq quanto menor o right mais para a direita ele vai? nao deveria ser o inverso?*/
    margin: 20px;
    width: auto;
}

nav {
    margin: 10px;
    padding: 10px;
    font-family: sans-serif;
}

nav a {
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-left: 20px;
}

/* Estilo para os álbuns */

.album-section { /*Section dos albuns*/
    background-color: rgb(37, 37, 37);
    padding: 20px;
    text-align: center;
}

.album {
    display: inline-block;
    margin: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: transform 0.3s ease;
    background-color: rgb(59, 59, 59);
}

.album:hover {
    transform: translateY(-5px);/*Quanto sobe quando passa o mause em cima de um album*/
}

.album img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.album button {
    background-color: #1DB954;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.album button:hover {
    background-color: #1db954c0;
}

.album-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilos para o nome do álbum */
.album-name {
    font-weight: bold; /* Pode adicionar negrito ao nome do álbum */
    margin-top: 10px; 
}

/*Fim do estilo dos Albuns*/

section{
    border-radius: 25px;
    width: 80%;
    height: auto; /*Nao é o ideal, deveria ter algum jeito de escalar junto
    com o tamanho da imagem*/

    margin-right:auto;
    margin-left:auto;
    margin-top: 50px;
    background-color: rgb(59, 59, 59);
}

section p {

    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 30px;

    word-spacing: 5px;
    text-align: justify;
    
    overflow-y: hidden;
}

#botaoBio{
    background-color: #1DB954;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    
}


#paramoreIMG{
    margin-right: 50px;
    width: 35.3%;
    float: left;
}


footer{
    margin-top: 50px;
    float: left;
    color: aliceblue;
    width: 100%;
    height: 2.5rem; 
    background-color: rgb(26, 25, 25);
    font-family: sans-serif;
}

footer img{
    float: right;

    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 50px;

    width: 30px;
    height: 30px;
}

footer p{
    text-align: center;
}

.arrow {
    display: inline-block;
    margin-left: 5px;
    border: solid #d600ba;
    border-width: 0 2px 2px 0;
    padding: 3px;
    transform: rotate(45deg);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(26, 25, 25);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    text-align: left;
}
.dropdown{
    float: right;
}
.dropdown-content a {
    padding: 12px 16px;
    display: block;
}


#infoDropdown.active .arrow {
    transform: rotate(-135deg);
}